<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Recharge Tel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="crd">
    <div class="form">
      <div class="image">
        <img src="../../../assets/img/card.PNG" class="card-img" />
      </div>
      <ion-grid style="margin-bottom: 5%; ">
        <ion-row>
          <ion-col>
            <ion-label>
              <ion-icon size="large" name="call"></ion-icon>Informations
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="value-col">
            27 28 95 87
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>
              <ion-icon name="cash-outline"></ion-icon> Montant
            </ion-label>
          </ion-col>
        </ion-row>
        <!-- <ion-row class="spaced-col">
          <ion-col class="value-col">
            K1,000
          </ion-col>
          <ion-col class="value-col">
            K5,000
          </ion-col>
        </ion-row> -->
        <ion-row style="margin-bottom: 20%;">
          <ion-col class="value-col" style="margin-bottom: 20%;">
            1000
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
    <ion-button color="secondary">Valider</ion-button>

  </div>
</ion-content>