<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Recharge Tel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="crd">

    <div class="form">
      <div class="image">
        <img src="../../../assets/img/card.PNG" class="card-img" />
      </div>

      <form [formGroup]="cred" (ngSubmit)="submit()" >
        <div class="wrapform">

          <ion-item>
            <ion-label position="floating">Telephone</ion-label>
            <ion-input type="text" (keyup)="check()"  formControlName="numTel" >
              <img width="35px" height="30px" [src]="path" />
            </ion-input>
          </ion-item>
          <div *ngIf="(numTel.dirty || numTel.touched) && numTel.errors" class="errors">
            <span *ngIf="numTel.errors?.required">numTel est obligatoire</span>
            <div *ngIf="numTel.errors?.pattern ">
              le telephone doit contenir que des chiffres.
            </div>
            <div *ngIf=" numTel.errors?.min">
              le telephone etre de 8 characteres.
            </div>
          </div>

          <div style="text-align: center;margin: 15px;">
            <ion-checkbox name="operateur" value="1" color="primary"></ion-checkbox><img style="padding-right: 10px;" width="50px" src="../../../assets/img/ooredoo.jpg" />
            <ion-checkbox name="operateur" value="2" color="secondary"></ion-checkbox> <img style="padding-right: 10px;" width="60px" src="../../../assets/img/telecom.jfif" />
            <ion-checkbox name="operateur" value="3" color="danger"></ion-checkbox> <img style="padding-right: 10px;" width="40px" src="../../../assets/img/orange.png" />
          </div>

          <ion-item>
            <ion-label position="floating">Montant</ion-label>
            <ion-input type="number" formControlName="montant" placeholder="Montant" step="500" ><!--pattern="\d+"-->
              <ion-icon name="cash-outline"></ion-icon>
            </ion-input>
          </ion-item>
          <div *ngIf="(montant.dirty || montant.touched) && montant.errors" class="errors">
            <span *ngIf="montant.errors?.required">montant est obligatoire</span>
            <div *ngIf=" montant.errors?.min">
              le montant doit etre au moin 1000 millime.
            </div>
          </div>

        </div>
      </form>
    </div>

    <ion-button type="submit" [disabled]="!cred.valid" (click)="submit()" color="secondary">Valider</ion-button>

  </div>

</ion-content>
