<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons (click)="return()" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
     </ion-buttons>
    <ion-title>Paiement commercant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h2 >
      Scanner QR <b><ion-icon name="arrow-down"></ion-icon></b>
    </h2>
  </ion-item>

   <img   width="70%" src="../../../assets/img/qr.png" />

<div>
  <ion-button  class="row" color="secondary" (click)="scanBarcode()">   Scanner QR code  </ion-button> 
</div>

</ion-content>
