ion-content{
    --ion-background-color:#ddedfa !important;
    --ion-item-background: transparent !important;
    div{
        width: 100%;
    }
ion-button{
    margin-left: 23%;
    &::part(native) {
        border-radius: 20px;
      }
}
ion-item{
   margin:5%
}
h2{
    color: #1248A0;
    font-weight: bold;
    margin-top: 20%;
}
}
