ion-content{
    --ion-background-color:#ddedfa !important;
    --ion-item-background: transparent !important;
    ion-card{
        background-color: white;
        box-shadow: 0 8px 17px 0 rgb(231 231 231 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        transition: all 0.55s ease-in-out;
        border-radius: 8px;
                padding: 4%;
        b{
            color: teal;
        }
        ion-item{
            padding-bottom: 8%;

        }
        div{
            margin: 1%;
        }
        .dv{
            margin-top: 5%;
        }
    }
}
.errors{
    font-size: 12px;
    color: red;
  }
  .popover-content {
    background: #222;
  }
  .my-custom-class {
    top: 210.976px;
    --width: 90%;
        left: 15px ;
        transform-origin: left top
  }