<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="return()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <!-- <ion-title>Detail Achat</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>
      <b>Detail du Paiement</b>
    </ion-card-title>
    <ion-card-content>
      <h2>Detail commerçant</h2>
      <ion-item>
        <div>
          <b>Nom</b> {{nom}}<br>
          <b>Ville</b> {{ville}}<br>
          <b>Nom de l'enseigne</b> {{nomMag}}<br>
        </div>
      </ion-item>
      <h2>Detail Achat</h2>
      <ion-item>
        <div> <b>Montant</b> {{montant | numberCurrencyFormat }} Dt <br>
          
        </div>
      </ion-item>

      <form [formGroup]="credentials" (ngSubmit)="onSubmit()">
        <ion-item style="padding: 0;">
          <ion-label position="floating">Telephone</ion-label>
          <ion-input type="text" placeholder="numTel" formControlName="numtel">
            <ion-icon name="cash-outline"></ion-icon>
          </ion-input>
          <div *ngIf="(numtel.dirty || numtel.touched) && numtel.errors" class="errors">
            <span *ngIf="numtel.errors?.required">num Tel est obligatoire</span>
            <div *ngIf="numtel.errors?.pattern ">
              le telephone doit contenir que des chiffres.
            </div>
            <div *ngIf=" numtel.errors?.minlength ">
              le telephone doit etre de 8 characteres.
            </div>
            <div *ngIf=" numtel.errors?.maxlength ">
              le telephone doit etre de 8 characteres.
            </div>
          </div>
        </ion-item>

        <div class="dv">
          <ion-button>Annuler</ion-button>
          <ion-button type="submit" [disabled]="!credentials.valid">Confirmer</ion-button>
        </div>
      </form>

    </ion-card-content>
  </ion-card>
</ion-content>