ion-content{
    --ion-background-color:#ddedfa !important;
    --ion-item-background: transparent !important;
    ion-card{
        height:75% ;
        padding: 10px;
        border-radius: 20px;
        background-color: white;
        // ion-button{
        //     margin-bottom: 3%;
        // }
    }
}  
.dv{
    margin:5%
}

.dvBlock{
    margin-top: 10%;
}
.errors{
    font-size: 10px;
    color: red;
  }