<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons (click)="return()" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
     </ion-buttons>
    <ion-title>modifierMdp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dv">
    <ion-item>
      <ion-label position="floating">Nouveau mot de passe</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item><ion-item>
  
      <ion-label position="floating">Confirmer mot de passe</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
 
  <div class="dvBlock">
    <b style="font-size: 10px;color: blue;">Vous pouvez changer votre mot de passe</b>
  <ion-button  type="submit" color="secondary">Enregistrer</ion-button>
  </div>
</div>

</ion-content>
