<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card class="card">
      <img src="../../../assets/img/logo.png" class="card-img"/>
    <ion-card-content class="txt">
      La société <b>ALLIANCE TECHNOLOGIE</b> spécialisée Cartes Magnetiques Et A Puce, Informatique - Bureaux D’etudes. La société ALLIANCE TECHNOLOGIE est basée à Tunis.
    </ion-card-content>
  </ion-card>
</ion-content>
