.card{
    margin-top: 20%;
    background-color: white;
}

.card-img{
    margin-left: 18%;
    margin-top:10% ;
    width: 70%;
    height: 70%;
}

.txt{
    text-align: justify;

}
ion-content{
    --ion-background-color:#ddedfa !important;
    --ion-item-background: transparent !important;
  }