<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons (click)="return()" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
     </ion-buttons>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card class="card">
      <img src="../../../assets/img/wallet.png" class="card-img"/>
    <ion-card-content class="txt">
       
       Cette application <b>AT WALLET</b> permet de faire la recharge telephonique ainsi que le paiement par QR code.
    </ion-card-content>
  </ion-card>
</ion-content>
