ion-content{
    --ion-background-color:#ddedfa !important;
    --ion-item-background: transparent !important;
  
    p{
        color: gray;font-size: 12px;margin-top:10%;
    }

    ion-card{
        border-left: teal 5px solid;
        background-color: white;
        ion-card-title{
            display: flex;
        }
    }

    h1{
        font-weight: bold;line-height: 35px;
    }
    
}

.txt{
    float: right;margin-left:30%;font-size: 15px;
}

.txtStl{
    float: left;width: 30%;font-size: 12px;
}

dv{
    margin-bottom: 5%;
}