ion-content{
    --ion-background-color:#ddedfa !important;
    --ion-item-background: transparent !important;
  
    p{
        color: gray;font-size: 12px;margin-top:10%;
    }
    ion-card:hover{
        box-shadow: 0 8px 17px 0 rgba(36, 180, 137, 0.2), 0 6px 20px 0 rgba(44, 168, 148, 0.19);
        transition: all .55s ease-in-out;
        
    }
    ion-card{
        border-left: teal 5px solid;
        background-color: white;
        box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
        border-radius: 8px;
            transition: all .55s ease-in-out;
    
        ion-card-title{
            display: flex;
        }
        ion-card-content{b{
            color: rgb(219, 22, 22);
        }}
    }

    h1{
        font-weight: bold;line-height: 35px;
    }
    
}

.txt{
    float: right;width: 40%;font-size: 12px;
}

.txtStl{
    float: left;width: 65%;font-size: 12px;
}

.dv{
    margin-bottom: 5%;
}
