<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>
    </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 3%;">
    <h1>  
          Historique des transactions
    </h1>

  <ion-searchbar showCancelButton="focus" placeholder="recherche"></ion-searchbar>
  <p>Derniere transaction etait le 25/10/2021</p>

  </div>

  <div class="dv">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <div style="font-size: 15px;">
            Recharge tel
          </div>
          <div class="txt">-1000 TND</div>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div style="display: flex;">
          <ion-label>Du : telecom</ion-label><br />
          <div class="txt">25/10/2021 </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="dv">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <div style="font-size: 15px;">
            Recharge tel
          </div>
          <div class="txt">-1000 TND</div>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div style="display: flex;">
          <ion-label>Du : telecom</ion-label><br />
          <div class="txt">25/10/2021 </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="dv">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <div style="font-size: 15px;">
            Recharge tel
          </div>
          <div class="txt">-1000 TND</div>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div style="display: flex;">
          <ion-label>Du : telecom</ion-label><br />
          <div class="txt">25/10/2021 </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="dv">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <div style="font-size: 15px;">
            Recharge tel
          </div>
          <div class="txt">-1000 TND</div>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div style="display: flex;">
          <ion-label>Du : telecom</ion-label><br />
          <div class="txt">25/10/2021 </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>