<ion-toolbar [hidden]="loading " color="primary">
  <ion-title>
    Accueil  
     <!-- <ion-button expand="full" (click)="logout()">Logout</ion-button> -->
  </ion-title>
  <ion-buttons  slot="end" (click)="logout()">
  <ion-button><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [hidden]="loading " color="primary" [fullscreen]="true">
  <ion-card  class="crd1">
    <ion-card-content>
      <h3 class="greeting" >
        <ion-icon name="wallet"></ion-icon> Ma carte
      </h3>

      <ion-card class="crd">
        <ion-card-header>
          <ion-card-title class="crdCarte">
            {{solde | customCurrencyFormat}} TND <ion-buttons *ngIf="check" (click)="refrech()" style="margin-top: -10%;margin-left: 90%;" color="light"><ion-icon name="refresh-outline"></ion-icon></ion-buttons>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p style="font-size: 15px;">
            {{user.numeroCompte}}<br>
            {{user.telephone1}}
          </p>
        </ion-card-content>
      </ion-card>

      <h3 class="greeting">
        <ion-icon name="cart"></ion-icon> Fonctions
      </h3>

      <div class="rechge">
        <ion-card class="rech" (click)="nav()">
          <ion-card-header>
            <ion-card-title>
              <ion-icon color="primary" name="call"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Recharge
          </ion-card-content>
        </ion-card>

        <ion-card class="rech" (click)="navQR()" >
          <ion-card-header>
            <ion-card-title>
              <ion-icon color="primary" name="qr-code-outline"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Paiement
          </ion-card-content>
        </ion-card>

      </div>

      <h3 class="greeting">
        <ion-icon name="reload"></ion-icon> Transactions recentes
      </h3><br>

      <div class="divItem" *ngFor="let t of transaction ;let i = index">
        <div  *ngIf="i<3">
        <div class="dv">
          <div *ngIf="t.idCanalPaiement=='2'" class="trans">Recharge tel</div><br />
          <div *ngIf="t.idCanalPaiement=='1'" class="trans">Paiement QR</div><br />
          <div class="mont"> {{t.montantTransaction | customCurrencyFormat}} TND </div>
        </div>
        <div class="dv">
          <ion-label class="lbl">Du : {{t.designation_pretataire}} </ion-label><br />
          <div class="dte">{{t.dateTransaction | date}} </div>
        </div>
        <hr>
      </div>

      </div>
      
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-content *ngIf="loading">
<ion-spinner  name="lines"></ion-spinner>
</ion-content>
