ion-toolbar{
  height: 15%;
}
ion-title{
  margin-top: 15%;
}
ion-content{
  --ion-background-color:#ddedfa !important;
  --ion-item-background: transparent !important;

   
    hr{
      background-color: gray;
    }
  }
  
  h1.greeting {
    font-size: 24px;
    color: #000000;
  }

  .txt{
    font-size: 30px;
    color: white;
  }

  .rechge{
    display: flex;text-align: center;
  }

  .iconcrd{
    float: left;color:white;
  }

  .crd{
    background-color: #1248A0;
    color: white;
    margin-left: 4%;
    border-radius: 5%;
    height: 30%;
    ion-card-content{
        font-size: 20px;
      }
  }

  .crd1{
    border-top-left-radius:2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius:0 ;
    width: 100%;
    margin: 0;
    height: 100%;
    background-color:#ddedfa !important;
  
  }

  ion-card{
      width: 90%;
  }

  .rech{
    background-color: white;
    font-size: large;
    font-weight: normal;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;

  }

  .stl{
    float: right;margin-left:40%;font-size: 20px;font-weight: normal;
  }

  .crdCarte{
    text-align: center; font-weight: bold;color: white;
  }

  .trans{
    float: left;width: 30%;
  }

  .lbl{
    float: left;width: 30%;font-size: 11px;color: gray;
  }

  .dte{
    float: right;margin-left:40%;font-size: 11px;color: gray;
  }

  .mont{
    float: right;margin-left:40%;
  }

  .dv{
    display: flex;color: black;
  }

  .divItem{
    height: auto;
  }
